* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#33332d;
    padding: 3px;
}

nav{
    text-align: center;
    padding: 10px 10px;
    background-color: black;
}


li {
    padding: 10px;
    text-align:center;
    display:inline-block;
    width: 0 auto;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

a:link, a:visited{

    text-decoration: none;
    padding: 10px;
    display:inline-block;
    width: 0 auto;
    font-size: 30px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.555);
}

a:active{
    border: 1px solid black;
    border-style:ridge;
    padding: 5px 10px;
    background-color: #e9e9c2;
}

h1 {
    text-align: center;
    background-color:rgba(235, 135, 213, 0.4);
    padding: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

#logobanner {

    text-align: center;
    display: inline-block;
    height: 200px;
    background-color: black;

}

a:hover{
    color: rgb(59, 59, 180);
}

h2 {
    text-align: center;
    background-color:rgba(223, 90, 194, 0.4);
    padding: 50px;
    font-weight: 700;
    color: coral;

}

p {
    text-align: center;
    background-color: rgb(185, 105, 105);
    padding: 10px;
    font-size: 23px;
    width: 0 auto;
    padding: 10px 200px;

}

article {
    text-align: center;
    position: relative;
}