@font-face {
    font-family: 'League Spartan';
    src: url('leaguespartan-bold.eot');
    src: url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('leaguespartan-bold.woff2') format('woff2'),
         url('leaguespartan-bold.woff') format('woff'),
         url('leaguespartan-bold.ttf') format('truetype'),
         url('leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

* {
    font-family: 'League Spartan';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#000000;
    padding: 3px;
}

nav{
    padding: 10px 10px;
    background-color: black;

}

#banlogo, #banmenu {
    text-align: center;
    text-transform: uppercase;
}

.largeimage{

    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */

}

li {
    padding: 10px;
    text-align:center;
    display:inline-block;
    width: 0 auto;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

p {
    text-align: center;
    background-color: rgb(48, 36, 36);
    padding: 10px;
    font-size: 23px;
    font-family: 'League Spartan';
    width: 0 auto;
    padding: 10px 200px;
    color: #e9e9c2;

}

a:link, a:visited{

    text-decoration: none;
    padding: 10px;
    display:inline-block;
    width: 0 auto;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: normal;
}

a:active{
    border: 1px solid black;
    border-style:ridge;
    padding: 5px 10px;
    background-color: #e9e9c2;
}

h1 {
    text-align: center;
    color: beige;
    background-color:rgb(0, 0, 0);
    padding: 50px;
    font-weight: 700;
    text-transform: lowercase;
}

.focuspoint {

    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    position: relative;
    margin-bottom: 50px;

}

.focuspoint video {

    position: absolute;
    object-fit: cover;
    z-index: 0;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.focuspoint .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  padding: 10px;
  
}

.focuspoint h2 {
  background-color: #33332d00;
  color: #ffffff;
  text-decoration-style: double;
}

.discdiv {

    position: relative;
    z-index: 2;
    color: bisque;
    width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    text-align: center;

}

.discdiv div {

    display: inline-block;
    background-color: rgba(0, 0, 0, 0.418);
    font-size: 1rem;
    border: #ffffff73 solid 0.5px;
    padding: 20px 20px;
    height: auto;
    margin: 10px 30px;
    
}

.discdiv p {

    display: inline-block;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    max-height: 433px;
    overflow: auto;
    padding: 10px;
    text-align: center;
}

.discdiv h3 {

    font-size: 25px;

}

.inlinediv {

    float: left;


}

.centerabout {

    display: block;
    width: 100%;
    height: auto;
    z-index: 1;

}


#logobanner {

    text-align: center;
    display: inline-block;
    height: 200px;
    background-color: black;

}

a:hover{
    color: rgb(59, 59, 180);
}

#footerthing p, a{

    background-color: #0000009a;
    font-size: small;
    text-transform: lowercase;
    padding: 20px;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */

}

.footerstyler p, a{

    background-color: #0000009a;
    font-size: small;
    text-transform: lowercase;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */

}

#footerthing {
    margin-top: 200px;
    padding: 20px;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.lowermail {

    font-size: small;
    text-transform: lowercase;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */

}

#footerthing h5{

    color: #e9e9c2;
    text-align: center;

}

.footerthing {

    color: #e9e9c2;
    text-align: center;

}

h2 {
    text-align: center;
    background-color:rgba(37, 34, 37, 0.856);
    padding: 50px;
    font-weight: 700;
    color: coral;

}

article {
    text-align: center;
    position: relative;
}
